.inventory-management {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.add-item-btn {
  display: inline-block;
  border: 1px solid #6024eb;
  background-color: #6024eb;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 10px 0;
  transition: 0.3s ease-in-out;
}
.add-item-btn button {
  border: 0;
  color: #fff;
  background-color: transparent;
}
.add-item-btn:hover {
  background-color: #fff;
}
.add-item-btn:hover button {
  color: #6024eb;
}

@media only screen and (max-width: 576px) {
  .add-item-btn {
    padding: 4px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .add-item-btn {
    padding: 4px 10px;
  }
}

.inventory-container {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
}
.inventory-container img {
  width: 100%;
  border-radius: 8px;
}
.delete-inventory {
  display: flex;
  align-items: center;
  background-color: #e21717;
  color: #fff;
  border: 1px solid #e21717;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-inventory:hover {
  background-color: #fff;
  color: #e21717;
}
.delete-inventory button {
  border: 0;
  color: #fff;
  background-color: transparent;
}
.delete-inventory:hover button {
  color: #e21717;
}

