.upcomingCar-container {
  background-color: #fff;
  margin: 20px auto;
  border-radius: 8px;
}
.upcomingCar-img-conainer {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
}
.upcomingCar-img-conainer img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.upcomingCar-img-conainer:hover img {
  transform: scale(1.5);
}

.upcomingCar-info {
  padding: 10px 20px;
}
.upcomingCar-info h4 {
  padding: 0;
}
.upcomingCar-info p {
  color: gray;
  margin: 0;
}
.upcomingCar-info:hover p {
  color: #fff;
}
.upcomingCar-info:hover {
  background-color: #5050ee;
  color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media only screen and (max-width: 576px) {
  .upcomingCar-info h4 {
    font-size: 100%;
  }
  .upcomingCar-img-conainer img {
    height: 100%;
  }
}
