.search-container-bg {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../Assets//Images/find-img-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.search-container-bg-overly {
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
}
.searcbar-container input{
  border: 1px solid #6024EB;
}
.subscribe-btn{
background-color: #6024EB;
border: 1px solid #6024EB;
}
.subscribe-btn:hover,.subscribe-btn:focus{
  border: 1px solid #fff;
  color: #6024EB;
  background-color: transparent;
  outline: none;
}
