.verify-email-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
}
.verify-info {
  background-color: #fff;
  padding: 30px;
}
.verify-info button {
  border: 0;
  padding: 8px 18px;
  border-radius: 4px;
  background-color: #22cb5c;
  color: #fff;
}
