.items-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.items-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}
