.submit-area {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;
  border-radius: 8px;
}
.singup-img-container {
  width: 100%;
}
.singup-img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -100px;
}
.from-container {
  position: relative;
  top: 90px;
}
.user-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 40px;
}
.submit-btn {
  width: 50%;
  border: 0;
  color: #fff;
  display: block;
  margin: 10px auto;
  padding: 6px 12px;
  border: 1px solid #6024eb;
  background-color: #6024eb;
  border-radius: 4px;
  transition: 0.3s ease-in;
}
.submit-btn:hover {
  background-color: #4515b4d0;
}

@media only screen and (max-width: 576px) {
  .submit-btn {
    width: 100%;
  }
}
