@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8080801e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.section-title {
  color: #6024eb;
}
.section-title::after {
  content: "";
  background-color: #6024eb;
  display: block;
  width: 180px;
  height: 2px;
  margin: 10px auto 5px;
}
@media only screen and (max-width: 576px) {
  .section-title {
    font-size: 100%;
  }
}
.error {
  color: #e21717;
}
