.inventory-container {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
}
.inventory-container img {
  width: 100%;
  border-radius: 8px;
}
.delete-inventory {
  display: flex;
  align-items: center;
  background-color: #e21717;
  color: #fff;
  border: 1px solid #e21717;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-inventory:hover {
  background-color: #fff;
  color: #e21717;
}
.delete-inventory button {
  border: 0;
  color: #fff;
  background-color: transparent;
}
.delete-inventory:hover button {
  color: #e21717;
}
