.cars-gallary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.custom-btn-link{
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #6024eb;
  background-color: #fff;
  margin: 0 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

.category{
  background-color: #6024eb;
  color: #fff;
}



.link {
  background-color: #6024eb;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 5px;
}
